Checks:
>
    *,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -fuchsia-*,
    -hicpp-braces-around-statements,
    -hicpp-move-const-arg,
    -hicpp-special-member-functions,
    -hicpp-use-override,
    -google-*,
    -llvm-header-guard,
    -llvm-namespace-comment,
    -llvmlibc-callee-namespace,
    -modernize-use-trailing-return-type,
    -readability-magic-numbers,

CheckOptions:
-
    key:    cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:  1
-
    key:    misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:  1
-
    key:    modernize-use-override.IgnoreDestructors
    value:  1
-
    key:    modernize-use-transparent-functors.SafeMode
    value:  1
-
    key:    performance-move-const-arg.CheckTriviallyCopyableMove
    value:  0
-
    key:    readability-braces-around-statements.ShortStatementLines
    value:  2
